/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

@media(min-width:992px){
	.product-detail-layout-6 .product-variations .slick-slider .slick-arrow{
		top:18px!important
	}
	div#mm-product-details .product-detail-layout-6 .product-variations .slick-track .slick-slide.slick-current .swatch-img-holder{
		display:flex!important;
	}
	.color_variations_slider_1 .swatch-img-holder {
		min-height: 100px;
		display: flex;
		align-items: center;
		justify-content:center;
	}
}
body div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #14234b !important;
    color: #14234b !important;
}

.page-info .pagination_wrapper>div button, div#mm-product-list .facet_wrap button{
	text-transform: capitalize !important;
    width: 100% !important;
    color: #ffffff;
    background-color: #14234b;
    font-family: "adriane-text Bold", Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.page-info .pagination_wrapper>div button:hover, div#mm-product-list .facet_wrap button:hover{
	background: #2d3a5e !important;
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px; 
    padding: 5px 20px;
	min-width: 600px;
}
.display_none{display:none;}
.fl-slide .fl-slide-text > p{
	margin: 0!important;
}
.fl-post-image-beside{
	width: 100%!important;
}
.product-grid.btn-grey .product-variations1>h5, .product-grid.btn-grey>h4>span, .product-grid .fl-button-text, .floorte-color, .featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button, .fl-photo-caption {
    font-size: 14px!important;
}
.search-row .product-row .btn-grey a.link.plp-view-product {
    display: block!important;
    margin-top: -10px;
    font-family: "adriane-text Bold",Verdana,Arial,sans-serif;
}
#moove_gdpr_cookie_info_bar p{
	    color: #f0ebe1!important;
	font-family: "adriane-text Bold", Verdana, Arial, sans-serif;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder > button{
	    background-color: #14234b!important;
	    color: #f0ebe1!important;
	    font-family: "adriane-text Bold", Verdana, Arial, sans-serif;
	text-transform: uppercase!important;
	border-radius: 0px!important;
	letter-spacing: 1px!important;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder > button:hover{
	    background-color: #2d3a5e!important;
	    color: #f0ebe1!important;
}
 .gform_wrapper .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px!important;
}
.gfield input[type=text]{
	width: 100%!important;
}
.gfield{
	padding-right: 15px!important;
}

/* .slick-track{
	display: flex !important;
    align-items: center;
} */
body.search-results {
	margin:0px!important;
	padding:0px!important;
	max-width:100%!important;
	border:0px;
}
a.link.plp-view-product{
	color: #fff !important;
    background-color: #14234b !important;
        font-family: "Gibson Regular",Verdana,Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    text-transform: none;
    border-style: none;
    border-width: 0px;
    border-color: initial;
    border-radius: 0px;
    padding: 12px 24px;
    text-decoration: none !important;
}
a.link.plp-view-product:hover{
	    background-color: #2d3a5e !important;
}
header .phone span:before{
	    content: "\f1f8";
	    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
	margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
}
.storHour .store-opening-hrs{
		text-align: center;
	    padding: 0;
	    list-style: none;
	}
.storHour ul.store-opening-hrs li {
    font-weight: 600;
}

ul.store-opening-hrs li > span {font-weight: 500;}
.storename .address a > p{
		margin-bottom: 4px!important;
	}
.gform_wrapper .ginput_container_time input, .gform_wrapper .ginput_container_time select{
    padding: 5px!important;
}
.ginput_container_time select{
    min-width: 60px!important;
    width: 60px!important;
}
.product-box .button-wrapper .getcoupon-btn:hover{
	border: 1px solid #ccc;
}
#breadcrumbs {
    padding: 4px 0!important;
    font-size: 16px!important;
}
.uabb-photo-caption, .uabb-photo-caption > p, .fl-photo-caption, .fl-photo-caption > p{
		font-size: 16px!important;
	}
.product-grid.btn-grey>h4>span,  .product-grid .fl-button-text, .color_variations_slider .color-boxs-inners small, .product-grid.btn-grey .product-variations1>h5 {
    font-size: 14px!important;
}
.footer-wrap-hov a:hover,
.footer-wrap-hov a:hover span,
.footer-wrap-hov a:hover p{
    color: #fff!important;
}
/* .betterParalax .fl-row-content-wrap{
	background-position: center bottom!important;
} */
@media(min-width: 1024px) and (max-width: 1280px){
.bannerHome .fl-module-content{
	margin-left: 150px!important;
	margin-right: 150px!important;
}	
}

@media(min-width: 768px) {
	.fl-page-header-fixed  #menu-main-menu{
	    text-align: right;
}
.fl-page-header-fixed  .fl-page-nav ul.navbar-nav>li {
    display: inline-block!important;
    float: none!important;
}
	.fl-page-header-fixed .fl-page-header-wrap .fl-page-header-container{
	width: 100%!important;
}	
	.fl-page-nav-right.fl-page-header-fixed .fl-logo-img, .fl-page-header-fixed .fl-logo-img {
    min-height: 87px!important;
}
.navbar .nav .menu-item-has-children>a:after{
	font-size: 13px!important;
}
.fl-page-nav ul.sub-menu {
    border-top: none!important;
} 
}
@media(min-width: 768px) and (max-width: 1024px){
	.ipadLan > .fl-col-content{
	margin-left: 20px!important;
}
	.marginTop .fl-col-content{
		margin-top: 0px!important;
	}	
		.fl-page-nav-right.fl-page-header-fixed .fl-logo-img, .fl-page-header-fixed .fl-logo-img {
    min-height: 67px!important;
}
}
@media(max-width: 992px){
	.listStyleNone{
		list-style: none;	
	}
	.mobileCenter{
		text-align:center!important;
	}
	#menu-copyright-bar-menu{
		width: 100%;
		text-align: center;
	}
	.custom_searchModule{
	    max-width: 100%!important;
		min-width: 100%!important;
	}

	.fl-col-small:not(.fl-col-small-full-width) {
		max-width: 100%;
	}
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    	padding: 0 !important;
	}
}




/* New Wocommerce Css 1-6-2023 */

.uabb-woo-mini-cart a.uabb-cart-btn-contents span.uabb-cart-button-wrap {
 position: relative;
}
.uabb-woo-mini-cart a.uabb-cart-btn-contents span.uabb-cart-button-wrap .uabb-cart-btn-badge {
 position: absolute;
 top: -15px;
 border-radius: 100%;
 background: #1D8CB6;
 color: #fff;
 width: 45px;
 height: 45px;
 display: inline-block;
 text-align: center;
 line-height: 45px;
 left: 24px;
 font-size: 14px;
}
.uabb-woo-mini-cart a.uabb-cart-btn-contents span.uabb-cart-button-wrap i {
    background-image: url(/wp-content/uploads/2023/06/black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 50px;
}
.uabb-woo-mini-cart a.uabb-cart-btn-contents span.uabb-cart-button-wrap i:before, .custom_searchHeader span.fl-icon i:before {
 visibility: hidden;
}

.custom_searchHeader span.fl-icon i {
    background-image: url(/wp-content/uploads/2023/06/blacksearch.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.HeaderCol .fl-module  .uabb-mini-cart-content.uabb-cart-style-dropdown {
    right: 0px!important;
	left: auto; 
}

.hours .uabb-infobox-text > p {
    padding: 0px!important;
    margin: 0px!important;
    display: none;
}
.hours ul.store-opening-hrs > li {
    max-width: 340px;
    width: 100%;
}
.hours  ul.store-opening-hrs > li span {
    float: right;
}
.HomeProduct ul.products li.product  .uabb-woo-products-thumbnail-wrap, .productPage ul.products li.product  .uabb-woo-products-thumbnail-wrap,  .pdpRelated ul.products li.product img, .productPLP  .fl-post-column .fl-post-grid-post .fl-post-grid-image {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(216,216,216,1) 100%);
    
}
.HomeProduct ul.products li.product .uabb-woo-products-summary-wrap, .productPage ul.products li.product .woocommerce-loop-product__title, .productPLP  .fl-post-column .fl-post-grid-post .fl-post-grid-text .fl-post-grid-title {
    overflow: visible;
    padding: 0px!important;
    text-align: left;
}
.HomeProduct ul.products li.product .uabb-woo-products-summary-wrap .price, .productPage ul.products li.product .uabb-woo-products-summary-wrap .price,  .pdpRelated ul.products li.product .price, .productPLP  .fl-post-column .fl-post-grid-post .fl-post-grid-text .price   {
    position: absolute;
    top: -20px;
    right: 0px;
    font-size: 24px;
}

.HomeProduct ul.products li.product .uabb-woo-product-wrapper, .productPage ul.products li.product .uabb-woo-product-wrapper,  .pdpRelated  ul.products li.product,  .productPLP  .fl-post-column .fl-post-grid-post  {
    position: relative;
}

.HomeProduct ul.products li.product .uabb-woo-products-summary-wrap a h2, .productPage ul.products li.product .uabb-woo-products-summary-wrap a h2, .pdpRelated ul.products li.product .woocommerce-loop-product__title {
    font-size: 24px;
    text-align: left!important;
}

.productPLP  .fl-post-column .fl-post-grid-post .fl-post-grid-text {
    padding: 0px;
    padding-top: 10px;
}
.fl-post-grid-post {
    border: 0px;
}
.pdpRow .product_meta > span.posted_in {
    display: none!important;
}
.productPLP .fl-post-column {
    padding: 20px 10px;
	margin-bottom: 20px;
}
.pdpRow .product_meta > span  {
    display: block;
    color: #989898!important;
    font-size: 25px;
    line-height: 1em;
	font-weight: 500;
}
.pdpRow .product_meta > span span, .product_meta > span span a  {
    color: #989898!important;
    font-weight: 400!important;
    line-height: 1em;
    font-size: 25px;
}

.pdpRow .fl-module .price span  {
    font-weight: 300;
}
.pdpRow .fl-module form.cart {
    display: flex;
}
.pdpRow .fl-module form.cart button.single_add_to_cart_button {
   line-height: 1em;
    font-size: 25px;
    font-weight: 300!important;
    padding: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #14234b !important;
    border-color: #14234b !important;
    text-transform: uppercase;
	border-radius: 0px !important;
}

.pdpRow .fl-module form.cart button.single_add_to_cart_button:hover{
	    background: #2d3a5e !important;
    border-color: #2d3a5e !important;
}

.pdpRow .quantity input {
   line-height: 1em;
    font-size: 25px;
    font-weight: 300!important;
    max-width: 100px;
    padding: 10px!important;
    width: 100%;
    height: 50px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
}

.pdpRow .price {
    font-size: 80px;
}
img.wp-post-image {
    border: none!important;
}
.pdpRow .price {
    font-size: 80px;
}
.pdpRow form.variations_form.cart table {
    margin: 0px!important;
}
.pdpRow form.variations_form.cart label {
    font-size: 24px;
    color: #989898!important;
    font-weight: 400!important;
    display: block!important;
}

.pdpRow form.variations_form.cart table tr {
    display: flex;
    flex-direction: column;
}
.pdpRow form.variations_form.cart table th {
    padding: 0px;
}
.pdpRow .fl-module .fl-module-content p.price {
    color: #14234b !important;
    font-size: 80px!important;
}
.pdpRow  .fl-module.fl-module-fl-woo-cart-button form.cart:not(.variations_form), .pdpRow form.variations_form.cart .woocommerce-variation-add-to-cart.variations_button {
    display: flex;
    flex-direction: column; 
}
.pdpRow form.variations_form.cart select#size {
    height: 72px;
    padding: 10px;
    color: #000000;
    border: 1px solid #D4CFC6;
}
.pdpRow .quantity {
    display: flex!important;
    flex-direction: column!important;
}
.pdpRow .quantity:before {
    content: "Qty";
    font-size: 24px;
    color: #989898!important;
    font-weight: 400!important;
    display: block!important;
}
.pdpRow form.variations_form.cart .woocommerce-variation-add-to-cart.variations_button button.single_add_to_cart_button {
    width: 100%!important;
    position: absolute;
    bottom: -20px;
    left: 0px;
    max-width: 100%;
}
.pdpRow form.variations_form.cart {
    position: relative;
}
.pdpRow form.variations_form.cart .quantity {
    margin-right: 0px!important;
}
.pdpRow .woocommerce-variation-price {
    display: none;
}
.woocommerce-tabs.wc-tabs-wrapper,  .Dtabs  ul.tabs li {
    padding: 0px!important;
}
.pdpRow form.cart:not(.variations_form) .button {
    margin-top: 20px;
}
.pdpTabsRow > .fl-row-content-wrap {
    background-color: #F8F4EE;
    box-shadow: 0px 20px 42px 0px rgb(0 0 0 / 19%);
    z-index: +1;
}
.Dtabs  ul.tabs {
	background-color: #f4f3f1!important;
	    text-align: center;
}
.Dtabs {
    background-color: #F8F4EE!important;
}
.Dtabs .woocommerce-Tabs-panel {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto!important;
	 padding: 10px 20px 50px !important;
}
.Dtabs ul.tabs> li:not(.active) {
    opacity: 0.4;
}
 .Dtabs  ul.tabs li a {
     padding: 35px!important;
     font-size: 35px;
     background-color: #F8F4EE!important;
    font-weight: 700!important;
 }
.Dtabs  ul.tabs li, .Dtabs .woocommerce-Tabs-panel, .Dtabs  ul.tabs:before {
	border: none!important;
	border-color: transparent!important;
}
 .Dtabs .woocommerce-Tabs-panel {
 background-color: #F8F4EE!important;
margin-bottom: 0px!important;	 
}
 .Dtabs .woocommerce-Tabs-panel h2 {
  font-size: 38px;
  font-weight: 500!important;
 }
.InfoLinkPdp .fl-html ul {
    list-style: none;
    display: flex;
}
.InfoLinkPdp .fl-html ul li {
    padding: 0px 10px;    
}
.InfoLinkPdp .fl-html ul li a {
    border-bottom: 4px solid #000;
    padding: 12px 10px;
    letter-spacing: 1px;
    color: #000;
    font-weight: 600;
}
.InfoLinkPdp .fl-html ul li a:hover {
    border-bottom: 4px solid #14234b;
    padding: 12px 10px;
    letter-spacing: 1px;
    color: #14234b;
    font-weight: 600;
}
.fl-module-content  p.price span.price .amount * {
    color: #14234b!important;
}

a.woocommerce-product-gallery__trigger {
    display: none;
}
section.related.products > h2 {
    font-size: 55px;
    line-height: 1em;
    text-transform: uppercase;
	margin-bottom: 40px !important;
}

a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    color: #fff;
    background-color: #14234b;
    font-family: "adriane-text Bold",Verdana,Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    border-style: none;
    border-width: 0px;
    border-color: initial;
    border-radius: 0px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover{
	 background-color: #2d3a5e !important;
	color: #fff !important;
}

h2.woocommerce-loop-product__title {
    min-height: 61px;
}

/* Login page css */
form.woocommerce-form.woocommerce-form-login.login {
    max-width: 600px;
    margin: 0 auto;
}
form.woocommerce-form.woocommerce-form-login.login .woocommerce-Input {
   height: 50px!important; 
    font-size: 16px!important;
    border-radius: 0px!important;
    border: 1px solid #cccccc!important;
}
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
    float: none;
    font-size: 22px!important;
    line-height: 1em!important;
    letter-spacing: 1px;
    border-bottom: 4px solid #000;
    padding: 10px 0px 10px 0px!important;
    color: #000;
    font-weight: 600;
	margin: 10px 0px 14px 0px!important;
}
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit:hover {
    float: none;
    font-size: 22px!important;
    line-height: 1em!important;
    letter-spacing: 1px!important;
    border-bottom: 4px solid #14234b!important;
    padding: 10px 0px 10px 0px!important;
    color: #14234b!important;
    font-weight: 600!important;
    background-color: transparent!important;
}
.woocommerce-form-login__rememberme {
    display: flex!important;
   align-items: center!important;
}
.woocommerce-form-login__rememberme input[type=checkbox], .woocommerce input[type=checkbox] {
    height: 20px;
    width: 20px;
    margin-top: -4px;
    margin-right: 8px;
	vertical-align: baseline;
} 

body:not(.logged-in) div.woocommerce h2  {
    font-size: inherit;
    text-align: center;
    font-size: 40px;
}

body.woocommerce-lost-password .fl-rich-text .woocommerce {
    max-width: 600px;
    margin: 0 auto; 
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 20px;
}
body.woocommerce-lost-password .woocommerce-Input {
   height: 50px!important; 
    font-size: 16px!important;
    border-radius: 0px!important;
    border: 1px solid #cccccc!important;
    width: 100%;
}
body.woocommerce-lost-password  form .form-row-first, body.woocommerce-lost-password form .form-row-first {
    width: 100%;
}

body.woocommerce-lost-password  button.woocommerce-Button.button, .woocommerce-Button, .woocommerce button.button:not(.single_add_to_cart_button), .checkout-button, .woocommerce-message .button, .woocommerce a.woocommerce-button  {
   float: none;
    font-size: 22px!important;
    line-height: 1em!important;
    letter-spacing: 1px;
    border-bottom: 4px solid #000!important;
    padding: 10px 0px 10px 0px!important;
    color: #000;
    font-weight: 600;
	margin: 10px 0px 14px 0px!important;
}
.checkout-button {
	display: inline-block!important;
}
body.woocommerce-lost-password  button.woocommerce-Button.button:hover, .woocommerce-Button:hover, .woocommerce button.button:not(.single_add_to_cart_button):hover, .checkout-button:hover, .woocommerce-message .button:hover, .woocommerce a.woocommerce-button:hover {
   float: none;
    font-size: 22px!important;
    line-height: 1em!important;
    letter-spacing: 1px!important;
    border-bottom: 4px solid #14234b!important;
    padding: 10px 0px 10px 0px!important;
    color: #14234b!important;
    font-weight: 600!important;
    background-color: transparent!important;
}

.woocommerce .woocommerce-MyAccount-content input[type=text], .woocommerce .woocommerce-MyAccount-content .select2-selection, .woocommerce .woocommerce-MyAccount-content input[type=email],  .woocommerce .woocommerce-MyAccount-content input, .woocommerce .woocommerce-checkout input[type=text], .woocommerce .woocommerce-checkout .select2-selection, .woocommerce .woocommerce-checkout input[type=email],  .woocommerce .woocommerce-checkout input:not([type=checkbox]) {
    height: 50px!important;     
    font-size: 16px!important;
    border-radius: 0px!important;
    border: 1px solid #cccccc!important;
    width: 100%;
}

.woocommerce  .select2-selection > span, .woocommerce .woocommerce-checkout .select2-selection > span {
    height: 100%!important;
}
.woocommerce .select2-selection  .select2-selection__rendered, .woocommerce .woocommerce-checkout .select2-selection  .select2-selection__rendered {
    display: flex!important;
    align-items: center;
}
.woocommerce-MyAccount-content fieldset legend, .woocommerce-checkout fieldset legend {
    margin-top: 20px!important;
    font-size: 30px;
    font-weight: 700;
}
.woocommerce-MyAccount-content fieldset, .woocommerce-checkout fieldset {
    margin-top: 20px!important;
}
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
    border-radius: 0px;
}
.woocommerce-checkout div.woocommerce h2, .woocommerce-checkout  div.woocommerce h3 {
    font-size: 30px!important;
    font-weight: 700;
}
.woocommerce .fl-module-fl-woo-product-meta .product_meta{
	margin-bottom: 15px !important;
}

.woocommerce ul.products li.product a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.woocommerce ul.products li.product .price,
span.woocommerce-Price-amount.amount{
	color: #14234b;
    display: block;
    font-weight: 900;
    margin-bottom: 0.5em;
    font-size: 16px !important;
    order: -1;
    text-align: right;
}

h2.fl-post-grid-title a {
    font-size: 16px;
}

.uabb-mini-cart-items {
    font-size: 16px;
}
.uabb-mini-cart-items  span.quantity {
    font-weight: 700;
}
.uabb-mini-cart-items  .woocommerce-mini-cart-item {
    padding: 10px 0px!important;
}
p.woocommerce-mini-cart__total.total {
    font-size: 22px;
}
p.woocommerce-mini-cart__total.total {
    font-size: 22px;
}

p.woocommerce-mini-cart__buttons.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p.woocommerce-mini-cart__buttons.buttons a {
    font-size: 22px!important;
    line-height: 1em!important;
    letter-spacing: 1px;
    border-bottom: 4px solid #000!important;
    padding: 10px 0px 10px 0px!important;
    color: #000;
    font-weight: 600;
}
p.woocommerce-mini-cart__buttons.buttons a:hover {
    font-size: 22px!important;
    line-height: 1em!important;
    letter-spacing: 1px!important;
    border-bottom: 4px solid #14234b!important;
    padding: 10px 0px 10px 0px!important;
    color: #14234b!important;
    font-weight: 600!important;
    background-color: transparent!important;
}
a.reset_variations {
    visibility: hidden!important;
}
.facet-wrap{
	display: block;
}
.browse-by-row ul.products, .browse-by-row ul.products{
    padding-top: 0px;
    margin: 0px;
}
.browse-by-row ul.products li.product, .browse-by-row ul.products li.product{
    margin-bottom: 0px;
}
.browse-by-row ul.products li.product h2, .browse-by-row ul.products li.product h2{
    color: #353535;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
}
.browse-by-row ul.products li.product h2:hover, .browse-by-row ul.products li.product h2:hover{
    color: #14234b;
}
.browse-by-row ul.products li.product h2 .count, .browse-by-row ul.products li.product h2 .count{
    display: none;
}
.browse-by-row .select-brand-wrap .woocommerce-widget-layered-nav .widgettitle{
    display: none;
}
.browse-by-row .select-brand-wrap .woocommerce-widget-layered-nav form{
    display: flex;
    align-items: center;
}
.browse-by-row .select-brand-wrap .woocommerce-widget-layered-nav form button{
    margin: 0 0 0 10px;
    opacity: 0;
}
.select-brand-wrap .fl-html .select-design .yith-wcan-dropdown{
    background-color: #F4EED8;
    border: 0px;
    cursor: pointer;
}
.select-brand-wrap .fl-html .select-design .yith-wcan-dropdown{
    text-transform: uppercase;
}
.select-brand-wrap form .select2-container .select2-selection--single .select2-selection__rendered li{
    background-color: transparent;
    border: 0px;
}
.select-brand-wrap form .select2-container .select2-selection--single .select2-selection__rendered li input::placeholder {
    color: #353535;
    opacity: 1;
}
.select-brand-wrap form .select2-container .select2-selection--single .select2-selection__rendered li input:-ms-input-placeholder {
    color: #353535;
}
.select-brand-wrap form .select2-container .select2-selection--single .select2-selection__rendered li input::-ms-input-placeholder {
    color: #353535;
}
.select-brand-wrap .fl-html .select-design .yith-wcan-dropdown{
    color: #353535;
}
.select-brand-wrap .fl-html .select-design .yith-wcan-dropdown.open{
    color: #14234b;
    box-shadow: none;
}
.select-brand-wrap form .select2-container--open .select2-selection .select2-selection__rendered li input::placeholder{
    color: #14234b;
}
.select-brand-wrap form .select2-container--open .select2-selection--single .select2-selection__clear{
    font-weight: 400;
    font-size: 30px;
    margin: -8px 4px 0 0;
}
.select-brand-wrap .fl-html .yith-wcan-filters,
.select-brand-wrap .fl-html .select-design {
    margin-bottom: 0px!important;
}

.select-brand-wrap .yith-wcan-filter .filter-title{
    display: none;
}
.browse-by-row .select-brand-wrap form .select2-container .select2-selection:after{
    content: "\f0d7";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 10px;
    top: 6px;
}
.woocommerce .productPLP .woocommerce-ordering select{
    background-color: #F4F3F1;
    border: 1px solid #D4CFC6;
    font-size: 23px;
    font-weight: 400;
    line-height: 23px;
    height: 70px;
    padding: 20px;
    text-transform: capitalize;
}
.woocommerce .productPLP .fl-post-module-woo-ordering{
    display: none;
}
.woocommerce div.product .product_title{
    font-size: 40px;
    line-height: 45px;
}

.tagged_as a{
	color: #14234b !important;
}
.tagged_as a:hover{
	color: #000 !important;
}

.woocommerce .fl-module-fl-woo-related-products .related ul.products {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -15px;
}

.woocommerce .fl-module-fl-woo-related-products .related ul.products > li {
    flex: 0 0 17%;
    width: auto;
    margin: 0 10px !important;
}

.woocommerce .fl-module-fl-woo-related-products .related ul.products > li:first-child{
	margin-left: 0px !important;
}
.woocommerce .fl-module-fl-woo-related-products .related ul.products > li:last-child{
	margin-left: 20px !important;
	margin-right: 0px !important;
}

/* New Wocommerce Css 1-6-2023 */

/*Filter Select Design*/
.facetwp-selections ul:before {
    content: "Your Selection";
    font-weight: 700;
    font-size: 16px; 
    border-bottom: 2px solid #14234b;
    padding: 0px;
    width: 100%!important;
    position: relative;
    display: block;
    margin-bottom: 5px;
    color: #14234b;
    padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label{
    font-size: 14px;
    font-weight: 700;
}

.facetwp-selections ul li .facetwp-selection-value{
	font-size: 14px;
}

.facetwp-selections ul {
    padding-left: 0px;
    margin-bottom: 20px;
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
	header .phone span:before{
		display:none;
	}
    /* Slider height issue on mobile open */
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
    .fl-content-slider .fl-slide-bg-link{
        z-index: 2;
    }
    /* Slider height issue on mobile closed */
    
	/* Facet Filter CSS	- iPad */
	.facet_filters .close_bar {
        display:block;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 100%!important;
        text-align: center
    }
    #product-list-top-filters .fl-heading,.facetwp-counts,.facetwp-pager,.facetwp-per-page,.open_sidebar {
        text-align: center!important
    }
    .facetwp-per-page-select {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
	.open_sidebar a {
		float: none!important;
	}
	.facet_filters {
        position:fixed;
        top:0px;
        left:-5px;
        width:80%;
        height:100%;
        overflow:auto;
        background-color:white;
        z-index:10;
        left:-1000px;
        -moz-box-shadow:    5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow:         5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar {
        background-color:#008c8c;
        overflow:hidden;
        width:100%;
        padding:5px;
        display:block;
        margin-bottom:20px;
    }
    .facet_filters .close_bar .close{
        float:right;
        color:white;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    	filter: alpha(opacity=100);
    	opacity: 1;
    }
    .open_sidebar,
    .close_sidebar_button{
        display:block;
    }
	.facetwp-pager {
        float: none!important;
        margin-top: 10px
    }
	/* Products List CSS - iPad */
	.facetwp-template .product-grid .product-row>.col-md-4 {
        width:33.33%;
        float: left;
        clear: none!important
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: left!important
    }
    .product-row>div.col-md-3:nth-child(3n+1) {
        clear: none!important
    }
}
@media only screen and (max-width: 599px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
        width:48%;
        clear: none !important
    }
	.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
		clear: none !important;
	}
}
@media only screen and (max-width: 480px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
		width:100%;
		clear: both !important
	}
	#calculateBtn {
		width: 100%!important;
	}
}
/* PLP Page Css iPad Air */